/.buildpath
/.gitignore
/.project
/registry/src/ckeditor
/registry/src/dois/
/registry/src/orca/htmlpurifier/
.DS_Store
._*
harvester/build/
harvester/lib/
pids/build/
pids/lib/
registry/src/.project
rifcs-api/build/
/registry/src/global_config.php
/registry/src/orca/rda/.htaccess
/tern-portal/application/config/config.php
/tern-portal/application/config/database.php
/registry/src/_includes/init.php
/registry/src/_includes/_environment/application_env.php
/registry/src/orca/_includes/init.php
/registry/src/_includes/_configuration/application_config.php
/registry/src/_inclues/_environment/database_env.php
/registry/src/.htaccess
/doco/
/misc/
/tern-portal/application/logs/
/tern-portal/application_regions/logs/
