/* Native Classes 
*******************************************************************/
html{ background: #d2d9ca url(../img/gradients/bg-gradient.png) repeat-x; height: 100%; min-width: 1280px; }
html, body, p, h1, h2, h3, h4{ font-family: helvetica, arial, sans-serif !important; }
body{ height: 100%; background: url(../img/template/bg-lines.png) no-repeat bottom center; min-width: 1280px; }
a{ color: #467000; text-decoration: none; }
a:hover{ color: #467000; text-decoration: underline; }
p{ color: #333333; margin-bottom: 7px; }
h2{ font-size: 16px; color: #4B7606; margin: 22px 0px 5px 0px; }
h3{ font-size: 14px; margin: 5px 0px 5px 0px; }
ul{ list-style: disc; padding-left: 15px; }
	ul li{ margin-left: 15px; }
input[type=text]{
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	padding: 0px 3px;
	outline: 0;
	height: 21px;
	-webkit-appearance: none;
}
textarea{
        border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	padding: 0px 3px;
	outline: 0;
	
	-webkit-appearance: none;
    
}
/* Custom Reusable Classes 
*******************************************************************/
.left{ float: left; }
.right{ float: right; }
.margin10 {   margin:10px; }
.wrapper{ width: 1240px; height: 100%; margin: 0px auto; }

/* Template 
*******************************************************************/
#printHeader{ display: none; }
#backgroundImage1{ position: absolute; background: url(../img/backgrounds/background-1.png) no-repeat center top; height: 100%; width: 100%; min-width: inherit; z-index: -1000; }
#backgroundImage2{ position: absolute; background: url(../img/backgrounds/background-2.png) no-repeat center top; height: 100%; width: 100%; min-width: inherit; z-index: -1000; }
#backgroundImage3{ position: absolute; background: url(../img/backgrounds/background-3.png) no-repeat center top; height: 100%; width: 100%; min-width: inherit; z-index: -1000; }
/* Header 
*******************************************************************/
header{
	height: 184px; 
	background: url(../img/gradients/header-bg-gradient.png) repeat-x;
	margin-bottom: 11px;
	padding-top:3px;
}
	header h1{ background: url(../img/logos/logo-bg.png) no-repeat; width: 229px; float: left; margin-left: -7px; height: 184px; }
		header h1 img{ margin-left: 14px;}
	nav#globalNav{ float: left; line-height: 43px; margin: 0px 10px 0px 0px; width: 1000px; }
	nav#globalNav ul.left{ margin-left: 10px; }
		nav#globalNav ul.left li{ float:left; margin-right: 10px; padding-right: 16px; border-right: 1px solid #636E57;position:relative;   }
		nav#globalNav ul.left li a.more{ background: url(../img/template/nav-arrow.png) no-repeat right center; padding-right: 20px; }
		nav#globalNav ul.left li:last-child{ border: 0px; }
                nav#globalNav ul.left li:hover .subMenu{ left: 0; cursor:pointer;} 
                nav#globalNav ul.left li:hover a{ text-decoration: underline;} 
			nav#globalNav ul.left li a{ color: #fff; text-decoration: none; font-size: 17px; font-weight: bold; }
			nav#globalNav ul.left .subMenu{  position: absolute; display: inline-block; margin-left: -50px; width: 195px; background: url(../img/template/sub-menu-arrow.png) no-repeat 50% 38px; padding-top: 43px; left: -9999px; top:0;  z-index: 1000; /* RW ADDED 15/10/12 */ }
                        
			nav#globalNav ul.left .subMenu ul{ position: absolute; background-color: #fff; padding: 0px; display: block; box-shadow: rgba(0,0,0,0.6) 0px 2px 3px;  behavior: url(/css/PIE.htc);   }
			nav#globalNav ul.left .subMenu li{ margin: 0px; padding: 0px; border: 0; line-height:32px; display: block; background: url(../img/dividers/sub-menu-divider.png) no-repeat center bottom; }
			 nav#globalNav ul.left .subMenu  li.last-child /*nav#globalNav ul.left .subMenu  li:last-child*/{ background: none; }                         
			nav#globalNav ul.left .subMenu li a{ font-size: 14px; color: #467000; font-weight: normal; margin: 0px; padding: 0px 9px; width: 177px; display: block; line-height: 32px; text-decoration: none; }
			nav#globalNav ul.left .subMenu li a:hover{
				color: #fff;
				text-decoration: none !important; 
				background: #477000; /*fallback for non-CSS3 browsers*/
				background: -webkit-gradient(linear, 0 0, 0 100%, from(#74ab45) to(#477000)); /*old webkit*/
				background: -webkit-linear-gradient(#74ab45, #477000); /*new webkit*/
				background: -moz-linear-gradient(#74ab45, #477000); /*gecko*/
				background: -ms-linear-gradient(#74ab45, #477000); /*IE10*/
				background: -o-linear-gradient(#74ab45, #477000); /*opera 11.10+*/
				background: linear-gradient(#74ab45, #477000); /*future CSS3 browsers*/
				-pie-background: linear-gradient(#74ab45, #477000); /*PIE*/
				 behavior: url(/css/PIE.htc);  
			}
	header nav#globalNav ul.right{ width: 264px; text-align: right; background: url(../img/template/dataset-bg.png) no-repeat; margin-right: -40px; padding-left: 26px; }
		header nav#globalNav ul.right li.divider{ background: url(../img/dividers/my-favourites-and-searches-divider.png) no-repeat center; float: left; width: 2px; padding: 0px 10px 0px 11px; }
			header nav#globalNav ul.right li a{ color: #C06103; text-decoration: none; text-align: left; font-size: 14px; width: 110px; float: left; display: block; line-height: 38px; height: 38px;}
				header nav#globalNav ul.right li a img{ float: left; margin: 10px 3px 0px 0px; }
	header ul{ list-style: none; padding: 0px; }
	header ul li{ display: inline; margin: 0px;}
	header ul li a:hover{ text-decoration: underline !important; }
	header #dataDiscoveryPortalLogo{ float: right; margin: 30px 10px 0px 0px; }
	
/* Home Page
*******************************************************************/
#searchFeatures{ background: url(../img/gradients/search-bg-gradient.png) repeat-x; padding: 20px 40px; height: 132px; margin-bottom: 13px; }
	#searchFeatures #slogan{ height: 45px; display: block; font-weight: bold; font-size: 28px; color: #fff; background: url(../img/dividers/search-features-divider.png) no-repeat center bottom; text-align:center; }
	#searchFeatures input{ 
		margin: 25px 10px 0px 0px;
		width: 330px; 
		float: left; 
		border: 1px solid #ccc;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		font-size: 20px;
		padding: 4px 7px;
		outline: 0;
		height: 39px;
		-webkit-appearance: none;
	}
	#searchFeatures input.rounded:focus{  border-color: #339933; }
	#searchBtn{ width: 155px; }
	#searchFeatures #orImg{ float: left; margin: 15px 33px 0px 33px; }
	#searchFeatures #mapBasedSearchTxt{ float: left; margin: 25px 15px 0px 0px; }
		#searchFeatures #mapBasedSearchTxt span{ display: block; }
			#searchFeatures #mapBasedSearchTxt span#mapBasedSearchTitle{ font-size: 28px; color: #fff; }
			#searchFeatures #mapBasedSearchTxt span#mapBasedSearchDescription{ font-size: 16px; color: #B2B2B2; }
	#mapSearchBtn{ width: 205px; }
	#searchBtn, #mapSearchBtn{
		margin-top: 25px;
		float: left;
		line-height: 50px;
		font-size: 24px; 
		font-weight: bold;
		text-align: center;	
		display: block;
		color: #fff;
		text-decoration: none; 
                cursor: pointer;
	}
	#searchBtn img, #mapSearchBtn img{ margin: 7px -10px 0px 12px; float: left; }

#homeContent{overflow: hidden; background: #ecefe8 url(../img/home/carousel/facilities-datasets-top-bg.png) no-repeat center bottom; padding-bottom: 30px; min-height: 450px; }
#homeContent h1{ font-size: 28px; font-weight: normal; padding: 0px; margin: 0px 0px 20px 30px; }
#datasetsIncluded{ float: left; width: 50%; margin: 50px 0px 0px 0px; background: url(../img/dividers/home-content-divider.png) no-repeat right center; }
	#datasetsIncluded h1{ color: #BF5F00; }
	#datasetsIncluded ul{ list-style: none; padding: 0px; }
		#datasetsIncluded ul li{ float: left; width: 168px; height: 115px; margin: 0px 0px 15px 30px; }
			#datasetsIncluded ul li a img{ position: absolute; z-index: 0; }
			#datasetsIncluded ul li a span{ position: absolute; margin-top: 80px; padding-left: 12px; color: #FFF; background-color: #BF6000; display: block; width: 156px; line-height: 35px; font-weight: bold; font-size: 12px; opacity:0.8; filter:alpha(opacity=80);}
			#datasetsIncluded ul li a:hover span{ background-color: #000; opacity:0.6; filter:alpha(opacity=60);}

#recentlyReleased{ float: left; position: relative; width: 50%; margin: 50px 0px 0px 0px;}
	#recentlyReleased h1{ color: #609227; }
	#recentlyReleased ul{ float: left; width: 50%; list-style: none; padding: 0px; }
		#recentlyReleased ul li{ margin: 0px 20px 20px 30px; padding-bottom: 20px; font-size: 14px; background: url(../img/dividers/recently-released-divider.png) no-repeat center bottom; }
			#recentlyReleased ul li.last-child /* #recentlyReleased ul li:last-child */{ background: none; } 
		#recentlyReleased a span.date{ color: #333333; }
		
#facilitiesAndDatasets{ background-color: #fff; height: 95px; clear: both; padding: 30px 35px 30px 35px; }
	#facilitiesAndDatasets h1{ float: left; color: #484848; font-size: 20px; font-weight: normal; padding: 0px; margin: 0px 10px 0px 0px; width: 140px; }
	#facilitiesAndDatasets a.prev, #facilitiesAndDatasets a.next{ float: left; width: 15px; height: 29px; margin-top: 30px; }
	#facilitiesAndDatasets a.prev{ background: url(../img/home/carousel/carousel-prev-normal-btn.png) no-repeat; }
	#facilitiesAndDatasets a.prev:hover{ background: url(../img/home/carousel/carousel-prev-hover-btn.png) no-repeat; }
	#facilitiesAndDatasets a.next{ background: url(../img/home/carousel/carousel-next-normal-btn.png) no-repeat; }
	#facilitiesAndDatasets a.next:hover{ background: url(../img/home/carousel/carousel-next-hover-btn.png) no-repeat; }
	#facilitiesAndDatasets #carouselContainer{ float: left; width: 970px; height: 90px; overflow: hidden; margin: 0px 10px; }
		#facilitiesAndDatasets #carouselContainer ul{ list-style: none; position:relative; }
			#facilitiesAndDatasets #carouselContainer ul li{ float: left; line-height: 90px; margin: 0px 10px 0px 0px;width:200px;}
				#facilitiesAndDatasets #carouselContainer ul li img{ vertical-align: middle; }
				
/* Metadata Page
*******************************************************************/
section.left{ width: 975px; margin-right: 15px; }
#metadataTitle{ background: url(../img/gradients/search-bg-gradient.png) repeat-x; height: 90px; padding: 20px 35px 30px 35px; width: 905px; }
	#metadataTitle span{ color: #7A886C; font-size: 14px; display: block; }
	#metadataTitle h1{ color: #fff; font-size: 30px; font-weight: normal; margin: 0px; padding: 0px; width: 745px; float: left; }
	
        #metadataTitle h4{ color: #fff; font-size: 16px; font-weight: normal; margin: 0px; padding: 0px; width: 745px; float: left; }
	#metadataTitle ul{ background: url(../img/dividers/metadata-title-divider.png) no-repeat left; float: right; padding: 10px 0px 0px 20px; list-style: none; }
	#metadataTitle ul li{ margin-bottom: 5px; }
	#metadataTitle a{ 
		line-height: 23px;
		height: 23px;
		width: 120px;
		font-size: 12px;
		text-align: center;	
		display: block;
		color: #fff;
		text-decoration: none; 
 }
#metadataContent{ background: #ffffff; padding: 13px 35px 35px 35px; width: 905px; }
	#metadataContent .left{ width: 430px; }
	#metadataContent .right{ width: 430px; }
#metadataContent .authorName{ margin-top: 22px; font-weight: bold; }
#metadataContent ul.datesList{ list-style: none; padding: 0px; }
	#metadataContent ul.datesList li{ float: left; width: 125px; margin: 0px; }
	#metadataContent ul.datesList li.divider{ padding: 0px 10px; width: 1px; }
	
#metadataContent ul.moreInformation{ clear: both; padding: 20px 0px 0px 0px; list-style: none; }
	#metadataContent ul.moreInformation > li{
		position: relative; /* RW ADDED 15/10/12 */
		margin: 0px 0px 8px 0px; 
		padding: 0px; 
		box-shadow: rgba(0,0,0,0.4) 0px 0px 3px; 
		background: #efefef; /*fallback for non-CSS3 browsers*/
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe) to(#e8e8e8)); /*old webkit*/
		background: -webkit-linear-gradient(#fefefe, #e8e8e8); /*new webkit*/
		background: -moz-linear-gradient(#fefefe, #e8e8e8); /*gecko*/
		background: -ms-linear-gradient(#fefefe, #e8e8e8); /*IE10*/
		background: -o-linear-gradient(#fefefe, #e8e8e8); /*opera 11.10+*/
		background: linear-gradient(#fefefe, #e8e8e8); /*future CSS3 browsers*/
		-pie-background: linear-gradient(#fefefe, #e8e8e8); /*PIE*/
		 behavior: url(/css/PIE.htc);  
	}
		#metadataContent ul.moreInformation h2{ padding: 8px; margin: 0px; }
			#metadataContent ul.moreInformation h2 a{ height: 30px; line-height: 30px; display: block;}
				#metadataContent ul.moreInformation h2 a span.left{ width: 80%; display: block; }
				#metadataContent ul.moreInformation h2 a span.right{ width: 10%; text-align: right; display: block; font-size: 12px; padding-right: 30px; }
				#metadataContent ul.moreInformation h2 a:hover span.right{ text-decoration: underline; }
		#metadataContent ul.moreInformation .content{ padding: 8px; overflow: hidden; }
		#metadataContent ul.moreInformation .content .left{ width: 30%; }
		
.greenText{ color: #467000; }

/* Shared between Search Results/Metadata Pages
*******************************************************************/
aside{ float: left; width: 250px; }
		aside div.box, nav#facetNav div.box{ background-color: #fff; margin-bottom: 15px; box-shadow: rgba(0,0,0,0.4) 0px 0px 3px;  behavior: url(/css/PIE.htc);   }
			aside div.box h1, nav#facetNav div.box h1{ color: #fff; font-size: 16px; margin: 0px; padding: 15px; }
			aside div.box div.content, #currentSearchBox div.content{ padding: 15px; }
			
/* Search Results - Facet Nav
*******************************************************************/
nav#facetNav{ margin-right: 15px; float: left; width: 215px; }
	nav#facetNav h2{ font-size: 14px; font-weight: normal; margin: 0px 0px 0px 0px; padding: 0px 0px;  }
	nav#facetNav ul{ list-style: none; padding: 0px; }
		nav#facetNav ul li{ margin: 0px; overflow: hidden; }
	
	/* Current Search Box */
	#currentSearchBox h2{ background: url(../img/dividers/facet-nav-divider.png) no-repeat bottom center  !important; color: #777; font-size: 12px !important; }
	#currentSearchBox ul li{ background: url(../img/dividers/facet-nav-divider.png) no-repeat bottom center !important; padding: 5px 0px; }
	#currentSearchBox span.searchTerm{ float: left; width: 170px; }
	#currentSearchBox a.remove{ background: url(../img/buttons/remove-normal-btn.png) no-repeat; width: 12px; height: 12px; margin-top: 2px; float: right; display: block; }
	#currentSearchBox a.remove:hover{ background: url(../img/buttons/remove-hover-btn.png) no-repeat; }
	#currentSearchBox ul{ margin-bottom: 15px; }
	#currentSearchBox ul li a{ display: block; }
	#currentSearchBox div.buttons{  text-align: center; }
	#currentSearchBox div.buttons a{ width: 80px; height: 15px; line-height: 15px; text-align: center; color: #fff; padding: 5px;  }
	#currentSearchBox a#clearSearchBtn{ color: #000; cursor: pointer }
	 
	/* Refine Search Box */
	#refineSearchBox > div.content > ul > li{
		padding: 15px; 
		border-bottom: 1px solid #dcdcdc;
		background: #fff; /*fallback for non-CSS3 browsers*/
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc) to(#ffffff)); /*old webkit*/
		background: -webkit-linear-gradient(#dcdcdc, #ffffff); /*new webkit*/
		background: -moz-linear-gradient(#dcdcdc, #ffffff); /*gecko*/
		background: -ms-linear-gradient(#dcdcdc, #ffffff); /*IE10*/
		background: -o-linear-gradient(#dcdcdc, #ffffff); /*opera 11.10+*/
		background: linear-gradient(#dcdcdc, #ffffff); /*future CSS3 browsers*/
		-pie-background: linear-gradient(#dcdcdc, #ffffff); /*PIE*/
		 behavior: url(/css/PIE.htc);  
	}
		/* Advanced Boolean Search */
		li#advancedSearch{ background: url(../img/dividers/facet-nav-divider.png) no-repeat bottom center    !important; border: 0px !important; }
			#advancedSearch h2{ font-size: 12px !important; padding-bottom: 10px; margin-bottom: 10px; }
		/* Search Box */
		li#search{ background: none !important; overflow: hidden; }
	
		#refineSearchBox a.smallRoundedCorners{ padding: 3px; color: #fff; float: right; }
		#refineSearchTextField{ float: left; display: block; width: 153px; height: 23px; margin-right: -2px; }
		#refineSearchBtn{ background: url(../img/buttons/refine-search-normal-btn.png) no-repeat; float: left; display: block; width: 26px; height: 25px; }
		#refineSearchBtn:hover{ background: url(../img/buttons/refine-search-hover-btn.png) no-repeat; }
		.facetContainer{ height: 150px; overflow: auto; border: 1px solid #999; padding: 5px !important; margin-bottom: 10px; clear: both; }
		.facetDropDown{ overflow: auto; border: 1px solid #999; padding: 5px !important; margin-bottom: 10px; clear: both; }
		.facetTree{ clear: both; }
		.facetTree li, .facetContainer li{ margin-bottom: 5px !important; }
		.facetTree input[type=checkbox], .facetContainer input[type=checkbox]{ float: left; display: block; }
		.facetTree label, .facetContainer label{ display: block; margin-left: 18px; }
		.facetTree label:hover, .facetContainer label:hover{ text-decoration: underline; }
		.facetTree > li > ul > li{ margin: 5px 0px 0px 15px !important; }
		.clearAll{ margin: 5px 0px 10px 0px; display: block; float: left; }
		#facetNav .helpBtn{ float: right; background: url(../img/buttons/help-normal-btn.png) no-repeat; height: 29px; width: 29px; display: block; margin-top: 8px; margin-right: 8px; position: relative; z-index: 1000; /* RW ADDED 15/10/12 */}
                
		.helpBtn:hover{ background: url(../img/buttons/help-hover-btn.png) no-repeat; }
		
section.right{ width: 1010px; }

/* Search Results - Results Navigation/Pagination
*******************************************************************/
nav.resultsNav{
	color: #434343; 
	padding: 5px 15px;
	margin-bottom: 10px; 
	height: 35px;
	line-height: 35px;
	background: #fdfdfd; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd) to(#e8e8e8)); /*old webkit*/
   background: -webkit-linear-gradient(#fdfdfd, #e8e8e8); /*new webkit*/
   background: -moz-linear-gradient(#fdfdfd, #e8e8e8); /*gecko*/
   background: -ms-linear-gradient(#fdfdfd, #e8e8e8); /*IE10*/
   background: -o-linear-gradient(#fdfdfd, #e8e8e8); /*opera 11.10+*/
   background: linear-gradient(#fdfdfd, #e8e8e8); /*future CSS3 browsers*/
   -pie-background: linear-gradient(#fdfdfd, #e8e8e8); /*PIE*/
	 behavior: url(/css/PIE.htc);  
}
	nav.resultsNav .result, nav.resultsNav .pagination div{ background: url(../img/dividers/results-divider.png) no-repeat right center; padding-right: 20px; margin-right: 20px; }
	nav.resultsNav .sortBy{ background: url(../img/dividers/results-divider.png) no-repeat left center; padding-left: 20px; margin-left: 20px; }
	nav.resultsNav .resultsPerPage{}
	nav.resultsNav .pagination{ }
		nav.resultsNav .pagination div, nav.resultsNav .pagination a{ float: left; }
		nav.resultsNav .pagination a{ font-size: 15px; margin: 0px 5px; }
		nav.resultsNav .pagination .currentPageNum{ color: #000; font-weight: bold; float: left; margin: 0px 5px; }
		
		nav.resultsNav .pagination a.firstBtn,
		nav.resultsNav .pagination a.prevBtn,
		nav.resultsNav .pagination a.nextBtn,
		nav.resultsNav .pagination a.lastBtn{
			white-space: nowrap; text-indent: -9999px; width: 21px; height: 21px; margin: 7px 5px 0px 5px;
		}
		nav.resultsNav .pagination a.firstBtn{ background: url(../img/buttons/pagination/results-first-normal-btn.png) no-repeat; margin-left: 0px; }
		nav.resultsNav .pagination a:hover.firstBtn{ background: url(../img/buttons/pagination/results-first-hover-btn.png) no-repeat; }
		nav.resultsNav .pagination .firstBtnDisabled{ background: url(../img/buttons/pagination/results-first-disabled-btn.png) no-repeat; }
		nav.resultsNav .pagination a.prevBtn{ background: url(../img/buttons/pagination/results-prev-normal-btn.png) no-repeat;  }
		nav.resultsNav .pagination a:hover.prevBtn{ background: url(../img/buttons/pagination/results-prev-hover-btn.png) no-repeat; }
		nav.resultsNav .pagination .prevBtnDisabled{ background: url(../img/buttons/pagination/results-prev-disabled-btn.png) no-repeat; }
		nav.resultsNav .pagination a.nextBtn{ background: url(../img/buttons/pagination/results-next-normal-btn.png) no-repeat;  }
		nav.resultsNav .pagination a:hover.nextBtn{ background: url(../img/buttons/pagination/results-next-hover-btn.png) no-repeat; }
		nav.resultsNav .pagination .nextBtnDisabled{ background: url(../img/buttons/pagination/results-next-disabled-btn.png) no-repeat; }
		nav.resultsNav .pagination a.lastBtn{ background: url(../img/buttons/pagination/results-last-normal-btn.png) no-repeat; margin-right: 0px; }
		nav.resultsNav .pagination a:hover.lastBtn{ background: url(../img/buttons/pagination/results-last-hover-btn.png) no-repeat; }
		nav.resultsNav .pagination .lastBtnDisabled{ background: url(../img/buttons/pagination/results-last-disabled-btn.png) no-repeat; }

/* Search Results - Map and Tools
*******************************************************************/
#ui-layout-facetmap{ margin: 0px 0px 10px 0px; }

	/* Map tools */
	#map-toolbar{ height: 67px; }
	#map-toolbar ul{ list-style: none; padding: 0px; }
	#map-toolbar li{ float: left; background: url(../img/dividers/map-tools-divider.png) no-repeat right center; padding: 8px 10px 0px 10px; text-align: center; margin: 0px; }
	#map-toolbar li.heading{ font-size: 16px !important; color: #fff !important; }
	#map-toolbar li.first-child, #map-toolbar li.last-child /*#map-toolbar li:first-child, #map-toolbar li:last-child*/{ background: none; } 
	#map-toolbar input{ margin: 0px; padding: 0px; }
	
	.panBtn,.panBtnActive,
	.boxBtn,.boxBtnActive,
	.delBtn,.delBtnActive,
	.mapGoBtn,
	.helpBtn{ width: 38px; height: 37px; display: block; cursor:pointer; }
	
	#map-toolbar .panBtn{ background: url(../img/buttons/map-tools/map-tools-pan-normal-btn.png) no-repeat; }
	#map-toolbar .panBtn:hover{ background: url(../img/buttons/map-tools/map-tools-pan-hover-btn.png) no-repeat; }
	#map-toolbar .panBtnActive{ background: url(../img/buttons/map-tools/map-tools-pan-hover-btn.png) no-repeat; }
	
	#map-toolbar .latLongBtn{ color: #fff; margin-top: 10px; display: block; cursor: pointer; }
	#map-toolbar #regionPanel{ height: 37px; }
	#map-toolbar #regionPanel a{ display: inline-block;} 
		#map-toolbar .boxBtn{ background: url(../img/buttons/map-tools/map-tools-box-normal-btn.png) no-repeat; }
		#map-toolbar .boxBtnActive{ background: url(../img/buttons/map-tools/map-tools-box-hover-btn.png) no-repeat; }
		#map-toolbar .boxBtn:hover{ background: url(../img/buttons/map-tools/map-tools-box-hover-btn.png) no-repeat; }
		#map-toolbar .delBtn{ background: url(../img/buttons/map-tools/map-tools-delete-normal-btn.png) no-repeat; }
		#map-toolbar .delBtnActive{ background: url(../img/buttons/map-tools/map-tools-delete-hover-btn.png) no-repeat; }
		#map-toolbar .delBtn:hover{ background: url(../img/buttons/map-tools/map-tools-delete-hover-btn.png) no-repeat; }
		.mapGoBtn{ background: url(../img/buttons/map-tools/map-tools-go-normal-btn.png) no-repeat; }
		.mapGoBtn:hover{ background: url(../img/buttons/map-tools/map-tools-go-hover-btn.png) no-repeat; }
		
	#map-toolbar input#geocode{
		margin: 7px 0px 0px 0px;
		width: 120px; 
		float: left; 
	}

	#map-toolbar #searchGeocodeBtn{ background: url(../img/buttons/map-tools/map-tools-search-normal-btn.png) no-repeat; width: 32px; height: 31px; float: left; margin: 3px 0px 0px 0px; }
	#map-toolbar #searchGeocodeBtn:hover{ background: url(../img/buttons/map-tools/map-tools-search-hover-btn.png) no-repeat; }

	#map-toolbar .mapViewSelector{
		margin: 3px 0px 0px 0px;
		height: 30px;
		line-height: 30px;
		/*-webkit-border-radius: 3px;*/ 
		/*-moz-border-radius: 3px;*/ 
		/*border-radius: 3px;	*/	 
		/*background: #2B2B2B; *//*fallback for non-CSS3 browsers*/ 
		/*background: -webkit-gradient(linear, 0 0, 0 100%, from(#646464) to(#2B2B2B));*/ /*old webkit*/ 
		/*background: -webkit-linear-gradient(#646464, #2B2B2B); *//*new webkit*/ 
		/*background: -moz-linear-gradient(#646464, #2B2B2B); *//*gecko*/ 
		/*background: -ms-linear-gradient(#646464, #2B2B2B); *//*IE10*/ 
		/*background: -o-linear-gradient(#646464, #2B2B2B); *//*opera 11.10+*/ 
		/*background: linear-gradient(#646464, #2B2B2B); *//*future CSS3 browsers*/ 
		/*-pie-background: linear-gradient(#646464, #2B2B2B);*/ /*PIE*/ 
		/*behavior: url(/css/PIE.htc);  */
                cursor: pointer;
	}
		#map-toolbar .mapViewSelector a{ color: #fff; padding: 5px; height: 20px; display: block; float: left; line-height: 20px; 
			background: #2B2B2B; /*fallback for non-CSS3 browsers*/
			position: relative; 
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#646464) to(#2B2B2B)); /*old webkit*/ 
			background: -webkit-linear-gradient(#646464, #2B2B2B); /*new webkit*/ 
			background: -moz-linear-gradient(#646464, #2B2B2B); /*gecko*/ 
			background: -ms-linear-gradient(#646464, #2B2B2B); /*IE10*/ 
			background: -o-linear-gradient(#646464, #2B2B2B); /*opera 11.10+*/ 
			background: linear-gradient(#646464, #2B2B2B); /*future CSS3 browsers*/ 
			-pie-background: linear-gradient(#646464, #2B2B2B); /*PIE*/ 
			behavior: url(/css/PIE.htc);   
		}
		#map-toolbar .mapViewSelector a.current,
		#map-toolbar .mapViewSelector a:hover{ 
			text-decoration: none;
			color: #000; 
			position: relative; 
			background: #8A8A8A; /*fallback for non-CSS3 browsers*/
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#8A8A8A)); /*old webkit*/
			background: -webkit-linear-gradient(#ffffff, #8A8A8A); /*new webkit*/
			background: -moz-linear-gradient(#ffffff, #8A8A8A); /*gecko*/
			background: -ms-linear-gradient(#ffffff, #8A8A8A); /*IE10*/
			background: -o-linear-gradient(#ffffff, #8A8A8A); /*opera 11.10+*/
			background: linear-gradient(#ffffff, #8A8A8A); /*future CSS3 browsers*/
			-pie-background: linear-gradient(#ffffff, #8A8A8A); /*PIE*/
			 behavior: url(/css/PIE.htc);  
		}
		#map-toolbar .mapViewSelector #gmap{
			position: relative; 
			-webkit-border-radius: 5px 0px 0px 5px;
			-moz-border-radius: 5px 0px 0px 5px;
			border-radius: 5px 0px 0px 5px;
			 behavior: url(/css/PIE.htc);  
		}
		#map-toolbar .mapViewSelector #gphy{
			position: relative; 
			-webkit-border-radius: 0px 5px 5px 0px;
			-moz-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px;
			 behavior: url(/css/PIE.htc);  
		}
	#map-toolbar .helpBtn{ background: url(../img/buttons/map-tools/map-tools-help-normal-btn.png) no-repeat; }
	#map-toolbar .helpBtn:hover{ background: url(../img/buttons/map-tools/map-tools-help-hover-btn.png) no-repeat; }
	#map-toolbar a.hide, #map-toolbar a.show{ margin: 2px 12px 0px 0px; padding: 0px 30px 0px 0px; color: #fff;  float: right; }
	 
        #facilities .helpBtn{float: right; margin-bottom:-5px; display:inline-block; background: url(../img/buttons/help-normal-btn.png) no-repeat; height: 29px; width: 29px;  } 
	#facilities .helpBtn:hover{ float: right; background: url(../img/buttons/help-hover-btn.png) no-repeat; }
        #spatialmap {
            display: block;
            height: 410px;
            width: 1010px;
        }
        div.olLayerGoogleCopyright,
        div.olLayerGooglePoweredBy
        {
        display: none !important;
        }
        .popupContent { 
            padding: 14px 0px 10px 5px;  
            overflow: visible;
        }
        .popupContent a.title{
            padding-right: 4px;
        }

         .popupContentScroll { 
            padding: 5px 0px 10px 10px;    
            overflow: auto; 
            margin: 5px 0px 5px 0px;
            max-height: 155px; 
        } 
        
        .popupContent ul{
            list-style-type: none;
            margin: 5px 0;
            overflow: auto;
            max-height: 140px;
            padding: 0;
        }
        .popupContent ul li{
            padding: 0;
            margin: 0 0 10px 0;
        }
        .popupContentScroll h4{
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .popupGroup{
            border: 1px solid #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            box-shadow : 0 4px 10px 0 #666666;         
            overflow: visible !important;
            behavior: url(/css/PIE.htc);  
            filter: none !important;
            padding: 0px 10px 0 0 ;
        } 
        .popupContent h2{
            margin-top:0px !important;
        }
        .popupContent a.smallRoundedCorners{ clear: both; width: 105px; height: 15px; line-height: 35px; text-align: center; color: #fff; padding: 5px; margin-bottom: 5px; }
        .popupGroup #chicken_GroupDiv{
            overflow: visible !important;

        }
        .mapArrow{
            left: -10px;
            position:absolute;
            top: 30px;
        }

	/* Coords overlay */
	#coordsOverlay{ position: absolute; background: url(../img/gradients/search-bg-gradient.png) repeat-x; border: 1px solid #000; border-top: 0px; padding: 10px; margin-left: 130px; display: none; width: 210px; text-align: center; z-index:1000;}
		#coordsOverlay div input{ width: 50px; margin: 0px; }
		#coordsOverlay div#spatialNorth{ margin: 0px 0px 0px 5px; }
		#coordsOverlay div#spatialWest{ float: left; }
		#coordsOverlay div#spatialEast{ float: right; }
		#coordsOverlay div#spatialSouth{ margin: 0px 0px 0px 5px; clear: both; }
		#coordsOverlay label{ color: #fff; font-weight: bold; }
		#coordsOverlay a.mapGoBtn{ float: right; }
	
	/* Results overlay */
	#resultsOverlay{ position: absolute; margin: 100px 0px 0px 450px; background-color: #fff; width: 360px; height: 210px; padding: 18px; z-index: 1000; }
		#resultsOverlay h1{ font-size: 16px; font-weight: normal; background: url(../img/dividers/results-overlay-divider.png) no-repeat bottom center; padding-bottom: 5px; }
		#resultsOverlay ul{ overflow: auto; height: 180px; list-style: none; padding: 0px; }
		#resultsOverlay ul li{ clear: both; margin: 0px; background: url(../img/dividers/results-overlay-divider.png) no-repeat bottom center; padding-bottom: 5px; overflow: hidden; }
		#resultsOverlay .pinTxt{ padding: 10px 0px; display: block; width: 260px; float: left; }
		#closeResultsOverlayBtn, .olPopupCloseBox{ position: absolute; top: 15px;  display: block; width: 21px !important; height: 21px !important; background: url(../img/buttons/results-overlay-close-normal-btn.png) no-repeat !important; }
		#closeResultsOverlayBtn:hover, .olPopupCloseBox:hover{ background: url(../img/buttons/results-overlay-close-hover-btn.png) no-repeat; }
	
	#spatialMap{ position: relative; }
		#spatialMap img{ display: block; }
	#featureName{}

/* Search Results - Results
*******************************************************************/
table#searchResults{ 
	margin: 10px 0px; 
	*border-collapse: collapse;
	border-spacing: 0px;
        position: relative;
}
/*
table#searchResults thead th{ font-weight: normal; background: url(/img/dividers/table-th-divider.png) no-repeat right center; padding: 10px 10px; 
}	


table#searchResults thead th.first-child{
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

table#searchResults thead th.last-child{
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
	width: 150px;  
}

table#searchResults tbody td{ 
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

table#searchResults tbody td:last-child {
	background: #fff url(/img/dividers/search-results-divider.png) no-repeat left center; 
}


table#searchResults tbody td.actionsColumn{
	background: #fff url(/img/dividers/search-results-divider.png) no-repeat left center; 
}

table#searchResults th.mapRefTH{ width: 66px; }
table#searchResults th.titleTH{ text-align: left; width:1050px;  }
table#searchResults th.datePublishedTH{ width: 159px; text-align: left; }
*/
table#searchResults thead th{ font-weight: normal; padding: 10px 10px; }	

table#searchResults tbody td{ 
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

table#searchResults tbody td.actionsColumn/*, table#searchResults tbody td:last-child*/{
	background: #fff url(../img/dividers/search-results-divider.png) no-repeat left center; 
}

table#searchResults th.mapRefTH{ 
	color: #B7B7B7;
	width: 50px; 
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
	background: #171916 url(../img/dividers/table-th-divider.png) no-repeat right center; /*fallback for non-CSS3 browsers*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-gradient(linear, 0 0, 0 100%, from(#535353) to(#171916)); /*old webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-linear-gradient(#535353, #171916) !important; /*new webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -moz-linear-gradient(#535353, #171916); /*gecko*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -ms-linear-gradient(#535353, #171916); /*IE10*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -o-linear-gradient(#535353, #171916); /*opera 11.10+*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*future CSS3 browsers*/
	-pie-background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*PIE*/
	behavior: url(css/PIE.htc);
}
table#searchResults th.titleTH{
	color: #B7B7B7;
	text-align: left;
	background: #171916 url(../img/dividers/table-th-divider.png) no-repeat right center; /*fallback for non-CSS3 browsers*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-gradient(linear, 0 0, 0 100%, from(#535353) to(#171916)); /*old webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-linear-gradient(#535353, #171916) !important; /*new webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -moz-linear-gradient(#535353, #171916); /*gecko*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -ms-linear-gradient(#535353, #171916); /*IE10*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -o-linear-gradient(#535353, #171916); /*opera 11.10+*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*future CSS3 browsers*/
	-pie-background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*PIE*/
	behavior: url(css/PIE.htc);
}
table#searchResults th.datePublishedTH{ 
	color: #B7B7B7;
	width: 150px; 
	text-align: left;
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
	background: #171916 url(../img/dividers/table-th-divider.png) no-repeat right center; /*fallback for non-CSS3 browsers*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-gradient(linear, 0 0, 0 100%, from(#535353) to(#171916)); /*old webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -webkit-linear-gradient(#535353, #171916) !important; /*new webkit*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -moz-linear-gradient(#535353, #171916); /*gecko*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -ms-linear-gradient(#535353, #171916); /*IE10*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, -o-linear-gradient(#535353, #171916); /*opera 11.10+*/
	background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*future CSS3 browsers*/
	-pie-background: url(../img/dividers/table-th-divider.png) no-repeat right center, linear-gradient(#535353, #171916); /*PIE*/
	behavior: url(css/PIE.htc);
}
table#searchResults tbody td h2{ font-size: 14px; font-weight: normal; margin: 0px; margin: 15px 0px; }
table#searchResults p.datePublished{ margin: 15px 0px; float: left; width: 100px; }
table#searchResults a.smallRoundedCorners{ clear: both; display: block; height: 15px; line-height: 15px; text-align: center; color: #fff; padding: 5px; margin-bottom: 5px; position: relative; } 
table#searchResults a.show, table#searchResults a.hide{ margin-top: 7px; }

 
/* Search Results - Pins
*******************************************************************/
a.pin{ background: url(../img/icons/pin-single-normal-bg.png) no-repeat; width: 40px; height: 42px; display: block; color: #fff; margin: 10px 0px 0px 15px; padding: 7px 0px 0px 11px; float: left; font-weight: bold; font-size: 15px; }
a.pin2{ background: url(../img/icons/pin-single-normal-bg.png) no-repeat; width: 40px; height: 42px; display: block; color: #fff; margin: 10px 0px 0px 15px; padding: 7px 0px 0px 7px; float: left; font-weight: bold; font-size: 15px; }
a.pin3{ background: url(../img/icons/pin-single-normal-bg.png) no-repeat; width: 40px; height: 42px; display: block; color: #fff; margin: 10px 0px 0px 15px; padding: 7px 0px 0px 3px; float: left; font-weight: bold; font-size: 15px; }
a.pin:hover, a.pin2:hover, a.pin3:hover{ background: url(../img/icons/pin-single-hover-bg.png) no-repeat; text-decoration: none; }
a.mapPinSingle{ background: url(../img/icons/map-pin-single-normal-bg.png) no-repeat; width: 40px; height: 42px; display: block; color: #fff; margin: 10px 0px 0px 15px; padding: 7px 0px 0px 11px; float: left; font-weight: bold; font-size: 15px; }
a.mapPinSingle:hover{ background: url(../img/icons/map-pin-single-hover-bg.png) no-repeat; text-decoration: none; }
a.mapPinMultiple{ background: url(../img/icons/map-pin-multiple-normal-bg.png) no-repeat; width: 40px; height: 42px; display: block;  margin: 10px 0px 0px 15px; position: absolute; }
a.mapPinMultiple:hover{ background: url(../img/icons/map-pin-multiple-hover-bg.png) no-repeat; }

.olControlPanup {
  background-image:url("/img/buttons/map-tools/map-tools-pan-north-normal-btn.png");
  width: 34px;
  height: 34px;
}
.olControlPanup:hover {
  background-image:url("/img/buttons/map-tools/map-tools-pan-north-hover-btn.png");
  width: 34px;
  height: 34px;
}
div.olControlZoom, div.olControlZoomInCnt, div.olControlZoomOutCnt, div.olControlZoomBarCnt {

   background: rgba(255, 255, 255, 0.4);
}
div.olControlZoom {
    position: absolute;
    top: 50px;
    left: 8px;
    border-radius: 4px;
    padding: 2px;
}
div.olControlZoomBar {
    position: absolute;
    top: 50px;
    left: 8px;
}
div.olControlZoomInCnt {
    border-radius: 4px 4px 2px 2px;
    padding: 3px 3px 1px 3px;
}
div.olControlZoomOutCnt {
    border-radius: 2px 2px 4px 4px;
    padding: 1px 3px 3px 3px;
}
div.olControlZoomBarCnt {
    padding: 0 3px;
    margin: -7px 8px 0;
    width: 2px;
}
div.olControlZoom a, div.olControlZoomInCnt a, div.olControlZoomOutCnt a, div.olControlZoomBar div.olControlZoomBarBarInternal {
    display: block;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 19px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
div.olControlZoom a, div.olControlZoomInCnt a, div.olControlZoomOutCnt a {
    margin: 1px;
    height: 22px;
    width: 22px;
}
div.olControlZoomBar div.olControlZoomBarBar {
    margin: 0;
    padding: 0;
    width: 22px;
    display: block;
    height: 100%;
}
div.olControlZoomBar div.olControlZoomBarBar {
    margin: 0 2px;
}
div.olControlZoomBar div.olControlZoomBarBarInternal {
    width: 2px;
}
div.olControlZoom a:hover, div.olControlZoomBar a:hover, div.olControlZoomBar a.olControlZoomSlider:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover, div.olControlZoomBar a:hover, div.olControlZoomBar a.olControlZoomSlider:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}
div.olControlZoomInCnt a, div.olControlZoomOutCnt a {
    margin: 0;
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoomBar a.olControlZoomSlider {
    height: 4px;
    width: 22px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    margin-top: 1px;
    background: #7b98bc;
    position: relative;
    display: block;
}




/* Footer
*******************************************************************/
footer{ margin: 0px 40px; display: block; height: 30px; padding: 40px 0px; clear: both; }
	footer .left{ margin-top: -15px; width: 236px; height: 50px; display: block; }
	footer .center{ text-align: center; float: left; width: 500px; margin-left: 80px; }
	footer .right{ text-align: right; }
	
/* Gradients and Rounded Corners
*******************************************************************/
.orangeGradient{ 
	position: relative; /* RW ADDED 15/10/12 */
	background: #cb8643; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cb8643) to(#bf6000)); /*old webkit*/
	background: -webkit-linear-gradient(#cb8643, #bf6000); /*new webkit*/
	background: -moz-linear-gradient(#cb8643, #bf6000); /*gecko*/
	background: -ms-linear-gradient(#cb8643, #bf6000); /*IE10*/
	background: -o-linear-gradient(#cb8643, #bf6000); /*opera 11.10+*/
	background: linear-gradient(#cb8643, #bf6000); /*future CSS3 browsers*/
	-pie-background: linear-gradient(#cb8643, #bf6000); /*PIE*/
	 behavior: url(/css/PIE.htc);  
}
a.orangeGradient:hover{
	text-decoration: none;
	background: #bf6000;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bf6000) to(#bf6000)); /*old webkit*/
	background: -webkit-linear-gradient(#bf6000, #bf6000); /*new webkit*/
	background: -moz-linear-gradient(#bf6000, #bf6000); /*gecko*/
	background: -ms-linear-gradient(#bf6000, #bf6000); /*IE10*/
	background: -o-linear-gradient(#bf6000, #bf6000); /*opera 11.10+*/
	background: linear-gradient(#bf6000, #bf6000); /*future CSS3 browsers*/
	-pie-background: linear-gradient(#bf6000, #bf6000); /*PIE*/
	behavior: url(/css/PIE.htc);
}
.greenGradient{ 
	position: relative; /* RW ADDED 15/10/12 */
	background: #70a53e; /*fallback for non-CSS3 browsers*/ 
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#70a53e) to(#477000)); /*old webkit*/ 
	background: -webkit-linear-gradient(#70a53e, #477000); /*new webkit*/ 
	background: -moz-linear-gradient(#70a53e, #477000); /*gecko*/ 
	background: -ms-linear-gradient(#70a53e, #477000); /*IE10*/ 
	background: -o-linear-gradient(#70a53e, #477000); /*opera 11.10+*/ 
	background: linear-gradient(#70a53e, #477000); /*future CSS3 browsers*/ 
	-pie-background: linear-gradient(#70a53e, #477000); /*PIE*/ 
	behavior: url(/css/PIE.htc);  
}

a.greenGradient:hover{ 
	text-decoration: none; 
	background: #477000; 
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#477000) to(#477000)); /*old webkit*/ 
	background: -webkit-linear-gradient(#477000, #477000); /*new webkit*/ 
	background: -moz-linear-gradient(#477000, #477000); /*gecko*/ 
	background: -ms-linear-gradient(#477000, #477000); /*IE10*/ 
	background: -o-linear-gradient(#477000, #477000); /*opera 11.10+*/ 
	background: linear-gradient(#477000, #477000); /*future CSS3 browsers*/ 
	-pie-background: linear-gradient(#477000, #477000); /*PIE*/ 
	behavior: url(/css/PIE.htc); 
}
 
.greyGradient{ 
	position: relative; /* RW ADDED 15/10/12 */
	background: #949398; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cccacb) to(#949398)); /*old webkit*/
	background: -webkit-linear-gradient(#cccacb, #949398); /*new webkit*/
	background: -moz-linear-gradient(#cccacb, #949398); /*gecko*/
	background: -ms-linear-gradient(#cccacb, #949398); /*IE10*/
	background: -o-linear-gradient(#cccacb, #949398); /*opera 11.10+*/
	background: linear-gradient(#cccacb, #949398); /*future CSS3 browsers*/
	-pie-background: linear-gradient(#cccacb, #949398); /*PIE*/
	 behavior: url(/css/PIE.htc);  
}
a.greyGradient:hover{ 
	text-decoration: none;
	background: #6f716e; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bababa) to(#6f716e)); /*old webkit*/
   background: -webkit-linear-gradient(#bababa, #6f716e); /*new webkit*/
   background: -moz-linear-gradient(#bababa, #6f716e); /*gecko*/
   background: -ms-linear-gradient(#bababa, #6f716e); /*IE10*/
   background: -o-linear-gradient(#bababa, #6f716e); /*opera 11.10+*/
   background: linear-gradient(#bababa, #6f716e); /*future CSS3 browsers*/
   -pie-background: linear-gradient(#bababa, #6f716e); /*PIE*/
	 behavior: url(/css/PIE.htc);  
} 
.blackGradient{
	background-color: #171916; /*fallback for non-CSS3 browsers*/ 
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#535353) to(#171916)); /*old webkit*/ 
	background: -webkit-linear-gradient(#535353, #171916); /*new webkit*/ 
	background: -moz-linear-gradient(#535353, #171916); /*gecko*/ 
	background: -ms-linear-gradient(#535353, #171916); /*IE10*/ 
	background: -o-linear-gradient(#535353, #171916); /*opera 11.10+*/ 
	background: linear-gradient(#535353, #171916); /*future CSS3 browsers*/ 
	-pie-background: linear-gradient(#535353, #171916); /*PIE*/ 
	 behavior: url(/css/PIE.htc);  
	color: #B7B7B7;
}
.roundedCorners{
	-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
	 behavior: url(/css/PIE.htc);   
}
.smallRoundedCorners{
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   behavior: url(/css/PIE.htc);  
}
/* Disabled Buttons */
a.disabled:hover{ 
	cursor: default; 
	background: #949398; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cccacb) to(#949398)); /*old webkit*/
	background: -webkit-linear-gradient(#cccacb, #949398); /*new webkit*/
	background: -moz-linear-gradient(#cccacb, #949398); /*gecko*/
	background: -ms-linear-gradient(#cccacb, #949398); /*IE10*/
	background: -o-linear-gradient(#cccacb, #949398); /*opera 11.10+*/
	background: linear-gradient(#cccacb, #949398); /*future CSS3 browsers*/
	-pie-background: linear-gradient(#cccacb, #949398); /*PIE*/
	 behavior: url(/css/PIE.htc);  
}

/* Show / Hide Elements
*******************************************************************/
a.show, a.hide{ height: 30px; line-height: 30px; display: block; cursor: pointer; }
a.show{ background: url(../img/buttons/show-normal-btn.png) no-repeat right center; }
a.show:hover{ background: url(../img/buttons/show-hover-btn.png) no-repeat right center; }

a.hide{ background: url(../img/buttons/hide-normal-btn.png) no-repeat right center; }
a.hide:hover{ background: url(../img/buttons/hide-hover-btn.png) no-repeat right center; }

.expand{ display: block; }
.collapse{ display: none; }
.hide { display: none; }

/* Contact Form
***********************************************************/
#contact_form{
    width: 350px;
    float: left;
}
#contact_form label{
    font-weight: bold;
}
#contact_form .error{
    color: red;
}

#contact_text{
    float:right;
}


/* Static Content
*********************************************************/
#staticContent{overflow: hidden; background: url("/img/home/carousel/facilities-datasets-top-bg.png") no-repeat scroll center bottom #ECEFE8; padding: 20px; }
#staticContent h1, #staticContentWhite h1{ font-size: 28px; font-weight: normal; padding: 0px; margin: 0px 0px 20px 0;  color:#BF5F00;}
#staticContentWhite{overflow: hidden; background: #FFF; padding: 20px;}
.pac-container{width:300px !important;}


#submitBtn{
		margin-top: 25px;
		float: left;
		line-height: 50px;
		font-size: 18px; 
		font-weight: bold;
		text-align: center;	
		display: block;
		color: #fff;
		text-decoration: none; 
                width: 100px;
                cursor: pointer;
                
                border:0px;
}
#submitBtn img{ margin: 7px -10px 0px 12px; float: left; }
        

.pac-container{width:300px !important;}

#metadatamap {
 width:598px;height:400px; margin: 0 auto !important;

}
#facet-help-text h2{
    margin: 10px 0 15px;
}
#fortree span { 
    margin-left:3px;
}
#fortree span:hover { 
    margin-left:3px;
}
nav#facetNav #group-facet li{
    margin-bottom: 5px;
}
.facility-text{
    font-size: 16px;
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify; 
}
.viewAll{
    text-align: center;

}
.read-more, .read-less{
    color: #BF6000;
    cursor: pointer;
}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;font-size: 0;}

.text-background{
     color: #cdcdcd;
}
a.download{
    word-wrap: break-word;
}
#contactResult{
    height: 400px;
    font-weight: bold;
    text-align: center;
}


a.external{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAANBJREFUGJVjZEADCZPU/6OLYYDKXQb/K3cZ/EcGrz8++Z8wSf0/E7LCdrcLjM9vfGeo2m2IYQgLulU//wowyOqwYChkYmBgYJife4Nhfu4Nhv///jPYhrMwZEoeYZj+3AbFZLjWxMkaDOZhonBFh1f+YWBn/s5QcXsiwkQGBgYGsxARhsdXviIp+sCwIO8mo5jqbob///4zwhVmSh5hkNXhZji15g3DpKS1cCufXfvGCLf6zaenDAwMDAyh3CsZQuOxBx0LAwMDQ+lCZ+yySAAAOUlVHUJdCpQAAAAASUVORK5CYII=") no-repeat scroll right center transparent;
    padding-right: 13px;
}

