html{ min-width: 95%; width: 95%; padding: 0px 20px; }
body, .wrapper, section.left, #metadataContent{ min-width: 100%; width: 100%;}
footer,header,aside{ display: none; }
a:link, a:visited {color: #00F; }
h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a{ color: #000 !important; }

/* Metadata Page related elements */
#printHeader{ display: block; margin-bottom: 40px; }
#metadataTitle{ margin: 0px; padding: 0px; }
	#metadataTitle ul{ display: none; }
	#metadataTitle h1{ width: 100%; margin: 0px; }
	#metadataTitle span{ color: #000; }
	
.moreInformation h2, .moreInformation h2 a, .moreInformation h2 a span.left{ text-align: left !important; } 
.moreInformation h2 a span.right{ display: none !important; } /* Show/Hide butons */
.moreInformation .content{ display: block; }
section.left{ margin: 0px; }
.wrapper{ margin: 0px; }

#metadataContent{ padding: 0px; }
#metadataContent .left, #metadataContent .right{ width: 49%; }
#metadataContent ul.moreInformation > li{ box-shadow: none; }
#metadataContent ul.moreInformation > li h2{ padding: 0px; margin: 0px; }
#metadataContent ul.moreInformation > li .content{ padding: 0px; margin: 0px; clear: both; }

