/* float clearing for IE6 */
* html .clearfix{height: 1%;overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;font-size: 0;}
* :focus { outline: 0; }

/*
    Global Body Styles
*/
body {
    padding:0;margin:0;
    text-align: left;
    font:11px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:normal;
    background: url("../img/main_bg.jpg") repeat-x scroll 0 461px transparent
}

h1,h2,h3,h4,h5{color:#555;}
h1{font-size:20px; text-align:center;}
h2{font-size:15px;}
h3{font-size:14px;}
h4{font-size:13px;}
.branding{text-align:center;color:#e9771c;}
.title{ }
a img{border:0;border:none;}

a:link, a:visited{color: #376500;text-decoration:underline;}
a:hover{text-decoration:underline;}

input{ vertical-align: middle; font: 11px Arial,Helvetica,sans-serif}

.top-left-corner{}
.bottom-corner{}
.top-corner{}
.shadow-and-corner{}

/*Big search box*/
#search-bar .searchbox{
    width:500px;
    clear:both;
    float:left;
    background:transparent;
    
    border:transparent;
    
    height:23px;
    font-size:14px;margin:0;
    line-height:23px;
    padding:0;
    
}
.searchboxActive{color: #a1a1a1;font-style:italic;}
.searchboxInactive{color: #909090;font-style:italic;}
.text-background {
    color: #cdcdcd;
    font-weight: bold;
}

.search-input-mini
{
    width:60px;
    height:15px;
    font-size:0.9em;
    font-family: Verdana,Arial,sans-serif;

}
.searchbox_submit{
    float:right;margin:0; padding:3px 15px;cursor:pointer;
    border:0px;font-size:13px;
    background: #376500;
    color: #fff;
    line-height: 20px;
}
.searchbox_submit:focus{outline:none;border:0;}
.searchbox_submit:hover{
    
}
.text-background {
    color: #cdcdcd;
    font-weight: bold;
}

#search-bar{text-align:center;padding-left: 0px;margin:0 auto; width:35%;float:center;padding-top:10px;}
#search-bar h1{
	   font: 25px Arial, Helvetica, sans-serif;
	   color:#0a450a;
	   text-shadow: 2px 2px 2px #fff;
	   margin:0;padding:10px;
}
/*#mid a{text-decoration:none; font-size:16px; color:#525252;font-variant:small-caps;height:16px;position:inherit;margin: 5px 0px;}*/
#mid a.heading{font-size:20px;text-shadow: 0px 2px 3px #fff;display:block;margin:0px 0px 6px 0px;height:auto;}
#mid a:hover{}
#search-wrapper{
    border:1px solid #376500;
    background: #fff;
    margin:10px 0;padding:2px;
    width: 650px;
    float:center;
    
}
#placeholder{float:center;margin:14px 0px 0px 10px;}
#placeholder p{text-align:center;font-size:13px;}

.show-hide-facet{width:16px;cursor:pointer;display:block;float:left;margin:5px 0;}
.toggle-facet-field{width:16px;cursor:pointer;zoom:1;height:16px;position:absolute;top:3px;right:3px;}
.toggle-record-popup{width:16px;cursor:pointer;zoom:1;height:16px;position:absolute;top:3px;right:3px;}
/*
 * Auto Complete
 * Auto Complete and Address Field (spatial search suggestion) is a jquery ui widget
 */
.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
    text-align:left;
    z-index:1000;
    font-size:15px;
}
/*Pagination*/

.pagination{float:right;}
.pagination-page{padding:0px 3px;text-decoration:none;margin:3px;color:#0a450a;/*border:1px solid #ccc;*/}
.pagination-currentPage{font-weight:bold;color:black;}

/*
 * Subjects List
 * Used in any instance a subject list is required
 */
ul.subjects{list-style-type:none;margin:10px 0px 0px 0px;padding:0;}
ul.subjects li{display:inline-block;line-height:27px;width:auto;}
ul.subjects li a{text-decoration:none; padding:2px 4px;margin:2px 4px; text-decoration: underline; }
ul.subjects li a:hover{background: white;}


ul.subjects-sml{list-style-type:none;margin:10px 0px 0px 0px;padding:0;}		
ul.subjects-sml li{display:inline-block;line-height:27px;width:auto;}		
ul.subjects-sml li a{text-decoration:underline; font-size: 10px; margin:2px 4px; }

#left{width:600px;float:left;margin:10px;word-wrap: break-word}
#right{width:270px;float:right;position:relative;}

.right-box{
	/*border:1px solid #ccc;margin:20px 10px 0px 0px;padding:0;word-wrap: break-word;position:relative;overflow:auto;background:white;*/
        border:1px solid #ccc;padding:0;word-wrap: break-word;position:relative;overflow:auto;background:white;
    
}
.right-box h2{
    text-align:center;color:#232323;padding: 5px;
    font: 15px Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #ccc; 
    font-weight: bold;
   
    background-repeat:repeat-x;
   /*
    height:30px;
   */
    line-height:30px;
    margin:0;padding:0 10px;
    position:relative;   
}
.limitHeight300{max-height:300px;overflow:auto;}
.limitHeight200{max-height:200px;overflow:auto;}

#wrapper{background: url('../img/header.png') repeat-x scroll left top transparent; margin:0}
#header{ position:relative;width: 100% }
/* footer styles */
#phone {
    float:left;
    color: #336400;
    font-size: 18px;
    line-height: 20px;
    width: 240px;
    top: 80px;
    position: relative;

}
#phone span {
    color: #B83D10;
}
#phone strong {
    font-family: Georgia,"Times New Roman",Times,serif;
}
#phone div {
    font-size: 13px;
}


#footer{padding:5px 0px 20px 0px; text-align:center;}
#sponsor{text-align:center; position: relative; bottom:0px; width:100%; height: 170px; background: url("../img/mainbody.jpg") repeat-x  left bottom #FFFFFF;}
#footer{padding:5px 0px 5px 0px;}
.border{  border:1px solid #D8D8D8; }

/*
 * Mid Section
 * Includes Logo and Searching Parts
*/
#mid{width:100%;margin:15px 0 10px 0;position:relative;text-align:center;padding:0;}
#logo{ width:131px; float:left; margin-top: 17px;}
#logo h1{
    color:#0a450a;margin:0;padding:0;font-weight:bold;text-shadow: 2px 2px 2px #fff;font-size:23px;
}

.nomargin{
    margin:0 !important;
}
.nopadding{
    padding:0 !important;
}

.hide,.hidden{
    display:none;
}

/*  */

#info {
    float:left;
    font-size: 11px;
    text-align: center;
    width: 70%;
    position:relative;
    top: 80px;
}
#australian_government {
    float:left;
    background: url("../img/australian_government.jpg") no-repeat scroll left top transparent;
    height: 127px;
    width: 171px;
}

#copyright a{
    color: #999999;
    font: 11px/14px Arial,Helvetica,sans-serif;
    text-decoration: none;

}

/* container layout */

.ui-layout-center P.ui-layout-content {
    line-height:	1.4em;
    margin:			0; /* remove top/bottom margins from <P> used as content-div */

} 
.ui-layout-center{
    padding:0;
}

.ui-layout-center .ui-widget-content{
    background: #fff;
    border:0;
}

.ui-layout-west, .ui-layout-facet{
    padding: 0;
}

.ui-layout-west h3,.ui-layout-facet h3 {
    margin:0;
    padding: 7px 10px;
}
.ui-layout-resizer-west-closed{
    border-left: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
}
.toggler-west-closed{
    background: url('/img/icon/pnl_search_green.png') no-repeat;
    height: 80px;
}
.toggler-west-open{
    background: #AAAAAA;
}

.innertoggler-west-closed{
    background: url('/img/icon/pnl_facets_blue.png') no-repeat;
    height: 80px;
}
.innertoggler-west-open{
    background: #AAAAAA;
}
.middletoggler-north-closed{
    background: url('/img/icon/pnl_map_grey.png') no-repeat;
    height: 80px;
}
.middletoggler-north-open{
    background: #AAAAAA;
}

.middletoggler-north-open{
    background: #AAAAAA;
}
.padding5{
    padding:5px;
}
.padding10{
    padding:10px;
}
.margin10{
    margin:10px;
}

.ui-layout-map { padding:0; border:0}

.ui-layout-facet{ border:0;}

#ui-layout-facetmap {height: 300px; padding:0; border:0}

/* WEST SEARCH  */
 .head{ margin-bottom: 5px; }
 #buttonSearch{ margin: 10px; float:right;}
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
     color:#333333;
     
 }
 .lefttext {
     text-align: left;
 }
/*Research Institution Form*/
label{vertical-align:middle; font: 11px Arial,Helvetica,sans-serif}
div.checkitem{ margin-top: 0.5em; clear: both; line-height:15px }

/*Temporal form */
div#temporalFilter{ height: 23px;vertical-align: middle; margin-top: 0.5em; }
div#temporalFilter img{vertical-align:middle;}

/*SPATIAL form */
div#spatialmap{width:430px;height:430px;overflow:auto;display:block;}

/*FOR form*/
div#forFilter{ height:20px; margin-top: 0.5em;}

/* BASIC SEARCH FORM */
.searchbox{
    width: 200px;
}
/* ADV SEARCH */
.search-input
{
    width: 90px;
    height: 16px;
    padding: 0;
}
#firstsearch, #secondsearch, #thirdsearch{
    height:20px;
    padding:0;
}
#firstsearch select, #firstsearch input,#secondsearch select, #secondsearch input,#thirdsearch select, #thirdsearch input{
    vertical-align: middle;
}
div#panel_advSearch .borderMe{
   border-left: 1px solid #AAAAAA;
   border-right: 1px solid #AAAAAA;
}
div#panel_advSearch .borderBottomMe{
   border-bottom: 1px solid #AAAAAA;
}
div#panel_advSearch .ui-widget-header{
    border-left: 0;
    border-right: 0;
}
.collapsiblePanel{
    padding-bottom:5px;
    cursor: pointer; 
}

.accordion .ui-accordion-header a{
    font-size:14px;
    font-weight:bold;
}
.accordion .ui-accordion-content{
    padding:5px;
}

#coords{
    text-align: center;
}
#coords input{ 
    width: 50px;
}
   

/*SEARCH RESULTS */
.spatial{display:none;}
.coverage{display:none;}
.spatial_center{display:none;}
.spatial_coverage_center{display:none;}
#search-result{ border:0;}

/* MAP Results*/
#result-map{
    height: 100%;   
}
.centertext{
    text-align: center;
}
.olPopupCloseBox {
    background: url("/img/delete.png") no-repeat scroll 0 0 transparent !important;
}
.olPopup{
    border: 1px solid #AAAAAA ! important;
}

span.read-more { cursor: pointer; color: #376500; text-decoration:underline}
span.read-less { cursor: pointer; color: #376500; text-decoration:underline; display:none;}
span.more { display: none;  }

/*View Records*/
#spatial_coverage_map{  
    width:400px;height:400px;
}

.accordionButton {	
	width: 800px;
	float: left;
	background: #003366;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	}

.accordionContent {	
	width: 800px;
	float: left;
	background: #95B1CE;
	display: none;
	}

#breadcrumb-corner{ line-height:30px; vertical-align:middle}

#share{ float:left; margin-right: 20px}

#share a { vertical-align: middle;}
 
div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
  display: none !important;
}